.u-section-1 {
  min-height: 796px;
}

.u-section-1 .u-shape-1 {
  height: 403px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 422px;
  height: 422px;
  background-image: url("images/KellysFormalPhoto.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -341px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  width: 678px;
  margin: 48px auto 0;
}

.u-section-1 .u-text-2 {
  width: 710px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px auto 0;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 714px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 1358px;
}

.u-section-2 .u-shape-1 {
  height: 532px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -472px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1267px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  line-height: 2.2;
  letter-spacing: 1px;
  margin: 0 9px 0 32px;
}

.u-section-2 .u-text-2 {
  font-weight: normal;
  margin: 32px 91px 0 32px;
}

.u-section-2 .u-text-3 {
  margin: 15px 91px 0 32px;
}

.u-section-2 .u-text-4 {
  margin: 20px 91px 0 32px;
}

.u-section-2 .u-text-5 {
  margin: 20px 44px 0 32px;
}

.u-section-2 .u-text-6 {
  margin: 20px 44px 0 32px;
}

.u-section-2 .u-text-7 {
  font-weight: normal;
  margin: 20px 0 0 32px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1267px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-weight: normal;
  margin: 4px 20px 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: normal;
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 1207px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1045px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 46px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 46px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 46px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1045px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 597px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 697px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 343px;
}

.u-section-3 .u-line-1 {
  height: 6px;
  transform-origin: left center 0px;
  width: 795px;
  margin: 57px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  line-height: 36px;
  width: 747px;
  margin: 37px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 17px auto 0;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  width: 682px;
  margin: 45px auto 17px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 700px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 599px;
}

.u-section-4 .u-slider-1 {
  width: 758px;
  min-height: 512px;
  height: auto;
  margin: 21px auto 53px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-group-1 {
  min-height: 465px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  height: 309px;
  object-position: 50% 0%;
  transition-duration: 0.5s;
  filter: brightness(0.75);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  text-decoration: underline !important;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-4 .u-group-2 {
  min-height: 464px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-image-2 {
  height: 309px;
  object-position: 50% 0%;
  filter: brightness(0.75);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  text-decoration: underline !important;
  margin: 19px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-4 .u-group-3 {
  min-height: 464px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-group-4 {
  min-height: 442px;
  margin-top: 1px;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-image-3 {
  height: 309px;
  object-position: 50% 0%;
  filter: brightness(0.75);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-5 {
  text-decoration: underline !important;
  margin: 19px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 20px;
  height: 20px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  width: 20px;
  height: 20px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    height: 255px;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-image-2 {
    height: 255px;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-group-4 {
    height: auto;
  }

  .u-section-4 .u-image-3 {
    height: 255px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-slider-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-image-1 {
    height: 195px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-image-2 {
    height: 195px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-image-3 {
    height: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-slider-1 {
    width: 540px;
    min-height: 537px;
  }

  .u-section-4 .u-image-1 {
    height: 146px;
  }

  .u-section-4 .u-image-2 {
    height: 146px;
  }

  .u-section-4 .u-image-3 {
    height: 146px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-slider-1 {
    min-height: 514px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    height: 92px;
  }

  .u-section-4 .u-image-2 {
    height: 92px;
  }

  .u-section-4 .u-image-3 {
    height: 92px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/w4-min.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 411px;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  margin: 111px 49px 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 388px;
  min-width: 196px;
  margin: 26px auto 60px;
}

.u-section-5 .u-icon-1 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-icon-2 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-icon-3 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-icon-4 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-icon-5 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

.u-section-5 .u-icon-6 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-5 .u-text-1 {
    width: 670px;
    margin-left: 0;
    margin-right: 0;
    height: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }
}